*{ padding: 100;
  margin: 100;
  box-sizing: border-box;
  background-color: aliceblue;
}

h1{color: cadetblue;
  .alfa-slab-one-regular{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;}
    font-size: 50px;
  }